.hourlyforecast > .date,
.hourlyforecast > div > .date {
  text-align: center;
  font-family: RobotoBold;
}

.hourlyforecast {
  font-size: 20px;
  font-family: Roboto;
}

.bold {
  font-weight: 800;
}

.hourlyforecast > .date {
  width: 100%;
  background-color: lightblue;
  position: relative;
}

.menudown {
  position: absolute;
  right: 0px;
}

.min {
  color: rgb(112, 112, 112);
  font-weight: 600;
}

.max {
  color: black;
  font-weight: 800;
}

.tiny {
  font-size: small;
  vertical-align: top;
}

.hourlyforecastmini > div {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
   */
  border-bottom: 1px dotted grey;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.graphContainer {
  display: flex;
  justify-content: center;
}
