.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}
.labels {
  font-family: Roboto, arial;
}
.graph .grid {
  stroke: #b4b4b4;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.dottedgrid {
  stroke: #ccc;
  stroke-dasharray: 3;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.graphTitle {
  text-align: center;
  margin: 0px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: rgb(248, 182, 0);
}

.data > text {
  fill: rgb(0, 0, 0);
}

.graph {
  transform: scale(1.1);
}
@media only screen and (max-width: 550px) {
  .graph {
    transform: scale(0.95);
  }
}
