body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: IndieFlowerRegular;
  src: url("./asset/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("./asset/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./asset/Roboto-Bold.ttf");
}
body {
  font-family: IndieFlowerRegular, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: 900;
  margin-top: 8px;
  font-size: 40px;
}
.loading {
  min-height: 20px;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 0px;
  font-family: IndieFlowerRegular, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.content {
  min-width: 700px;
}
.refresh {
  background-color: white;
  border: none;
  font-size: 20px;
  position: relative;
}
.refresh:active {
  top: 2px;
}
/* LOCATION FORM */
.locationform {
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 20px;
}
#location {
  border-radius: 5px;
  border: 2px solid rgb(61, 61, 61);
  padding: 2px 5px;
}
/* content */
.weatherdetails {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-top: 2px solid grey;
  min-width: 400px;
  max-height: 115px;
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  color: rgb(116, 116, 116);
  font-size: 17px;
}
.temp {
  vertical-align: bottom;
  display: flex;
}
.temp > img {
  /* background-color: yellow; */
  /* box-shadow: 5px 10px yellow; */
  /* background-clip: padding-box; */
  border-radius: 50%;
}
button:active {
  top: 2px;
}
.location,
.tempdegree {
  font-weight: 900;
  font-size: 25px;
  color: black;
}
.tempsymbol {
  vertical-align: top;
  color: black;
}

.sundetails {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* FORECAST */
.forecastbuttons {
  position: relative;
  left: 35%;
}

.forecast {
  margin: 20px 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.day {
  margin-top: 20px;
  color: black;
  min-width: 70px;
}

.temperature,
.day {
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 24px;
}
::-webkit-scrollbar {
  display: none;
}
#hot {
  color: rgb(255, 255, 85);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#cold {
  color: #8ee8ff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
@media only screen and (max-width: 700px) {
  body {
    overflow: hidden;
    margin: 0px;
    margin: 0px;
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .header > div,
  .header > div > a {
    margin: 5px;
  }
  .content {
    min-width: auto;
    width: 98vw;
  }
  .forecast {
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
    min-width: auto;
    max-width: 700px;
  }
  .weatherdetails {
    flex-direction: column;
    max-width: 98vw;
    margin: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .forecast {
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
    min-width: auto;
    max-width: 400px;
  }
}
